.nav {
  background-color: rgba(0, 0, 0, 0);
  background-size: 8px 8px;
  backdrop-filter: saturate(80%) blur(2px);
}

.art-dot {
  background-image:
    linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 300px),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}
