@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./markdown.css);

@layer components {
  .nav {
    background-color: rgba(0, 0, 0, 0);
    background-size: 8px 8px;
    backdrop-filter: saturate(80%) blur(2px);
  }
}

/* dark mode change animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}
